# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor/IDE
.idea/
.vscode/

# Build directory
build/

# UI
cmd/twitch/run/ui/public/dist
cmd/twitch/run/ui/node_modules

# Dev
.buffer
.env
/.run/
