@font-face {
	font-family: Karla;
	src: url(./assets/fonts/Karla.ttf);
}

@font-face {
	font-family: DMSans;
	src: url(./assets/fonts/DMSans.ttf);
}

body {
	-webkit-font-smoothing: antialiased;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	margin: 0;
	line-height: 1;
	overflow: hidden;
	overflow-y: auto;
	scrollbar-gutter: stable both-edges;
	color-scheme: dark;
	background-color: #1a1919;
	color: #e2e2e2;
}

:root {
	--font-header: Karla, sans-serif;
	--font-body: DMSans, sans-serif;
}
